.error{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    h1{
        color: #FFF;
        font-family: "Bellefair", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    span{
        color: #D0D6F9;
        font-family: "Barlow", sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 177.778% */
    }
}
